.colorFondo {
    background-image: url("../images/fondo_net-app2.jpg");
    background-size: 100vw 100vh;
    background-repeat: repeat-y;
}

/* Estilos login */

.imgLogin {
    display: flex;
    justify-content: center;
}

.enlaceRegistrarse {
    display: flex;
    justify-content: center;
    margin-top: -50px;
}

.enlaceRegistrarse > a {
    font-size: 18px;
    color: #505050 !important;
    text-decoration: none;
}
